.anim-button {
  position: absolute;
  width: 40px;
  left: 30px;
  backface-visibility: hidden;
  transition: transform 0.5s;
  cursor: pointer;
}

.flipMe {
  transform: rotateY(180deg);
}

.image {
  width: 100%
}