<div class="container">
    <div #flipper contentControl nPanel="3" class="flipper">
        <li class="common-side">
            <h1>1</h1>
        </li>
        <li class="common-side">
            2
        </li>
        <li class="common-side">
            3
        </li>
        <li class="common-side">
            4
        </li>
        <li class="common-side">
            5
        </li>
        <li class="common-side">
            6
        </li>
        <li class="common-side">
            7
        </li>
        <li class="common-side">
            8
        </li>
        <li class="common-side">
            9
        </li>
        <li class="common-side">
            10
        </li>
        <li class="common-side">
            11
        </li>
        <li class="common-side">
            12
        </li>
        <li class="common-side">
            13
        </li>
        <li class="common-side">
            14
        </li>
    </div>
</div>