@import "../../../scss/variables";

.direct-access {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 32px;
    background: rgba($color: $primary-background-color, $alpha: 0.8);
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    cursor: pointer;
}