<div class="hex-sign">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 300 280"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <polygon class="svg-hexagon-logo" points="300,150 225,280 75,280 0,150 75,20 225,20"
            transform='translate(0 -20)'>
        </polygon>
    </svg>
    <div class="hexagon-content-holder-logo">
        <div class="hexagon-content-logo">
            <div class='centre-hex-logo'>
                <div class='top-half-logo'>
                    <div><span class='letter'>H</span>EX</div>
                </div>
                <div class='bottom-half-logo'>
                    <div>BO<span class='letter'>X</span></div>
                </div>
            </div>
        </div>
    </div>
</div>