@import "../../../scss/variables";

.hex-sign {
    position: relative;
    width: 50px;
}

.svg-hexagon-logo {
    fill: white;
    stroke: $primary-text-color;
    stroke-width: 3px;
}

.hexagon-content-holder-logo {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    color: $primary-text-color;
}

.hexagon-content-logo {
    user-select: none;
}

:host ::ng-deep .centre-hex-logo {
    position: absolute;
    transform: rotateY(0deg);
    font-family: "Miriam Libre", sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-shadow: none;

    height: 100%;
    width: 100%;
    left: 0px;
    overflow: hidden;

    .top-half-logo {
        position: absolute;
        padding-top: 0px;
        width: 100%;
        height: 22px;
        box-sizing: border-box;
        top: 0px;
        background: black;
        color: white;
    }

    .bottom-half-logo {
        position: absolute;
        width: 100%;
        top: 24px;
        height: 40px;
        line-height: 14px;
        color: black;
    }

}

:host ::ng-deep .letter {
    color: $primary-first-letter-color;
  }