<div class="volume-button" (mousedown)="mouseOpenVolume($event)" (touchstart)="touchOpenVolume($event)" (mousemove)="mouseMoveVolume($event)" (touchmove)="touchMoveVolume($event)" (mouseup)="mouseCloseVolume($event)" (touchend)="touchCloseVolume($event)">
    <img draggable="false" src="assets/images/volumeButton.png" class="image" />
    <div class="volume">{{volume}}</div>
</div>
<div [ngClass]="{'show-volume-switch': volumeOpen===true}" class="volume-switch">
    <div #volumeCarousel class="volume-carousel">
        <div class="volume-choice choice0">0</div>
        <div class="volume-choice choice1">1</div>
        <div class="volume-choice choice2">2</div>
        <div class="volume-choice choice3">3</div>
        <div class="volume-choice choice4">4</div>
    </div>
    <div class="top"></div>
    <div class="bottom"></div>
</div>
<div [ngClass]="{'show-volume-switch': volumeOpen===true}" class="volume-cog-holder">
    <img #cogVolume1 class="cog-volume-1" src="../../../../assets/images/cog2.png">
    <img #cogVolume2 class="cog-volume-2" src="../../../../assets/images/cog3.png">
</div>