<div class="container">
  <div #flipper contentControl nPanel="5" [allowPanelSwipe]="true" class="flipper">
    <li class="common-side side1">
      <app-logo></app-logo>
      <div class="vertical-space-between-holder">
        <div class="basic-text">
          @if (language==='Fr') {
          <div class="sub-title">Architecture Front End</div>
          }
          @if (language==='Fr') {
          <div class="sub-text">Outils de dév, de build et de déploiement (CI/CD) - Méthodologie GIT - Règles et outils UI - Gestion de l'état des API et de l'application - Routage et navigation -
            Méthodes d'optimisation, de sécurité et d'accessibilité - Stratégies de test - Règles de codage</div>
          }
          @if (language==='En') {
          <div class="sub-title">Front End Architecture</div>
          }
          @if (language==='En') {
          <div class="sub-text">Dev, build and deployment (CI/CD) tools - GIT methodology - UI rules and tools - API and application state management - Routing and
            navigation - Optimisation, security and accessibilty methods - Test strategies - Coding rules</div>
          }
        </div>
        <div class="basic-text">
          @if (language==='Fr') {
          <div class="sub-title">Design d'Interfaces</div>
          }
          @if (language==='Fr') {
          <div class="sub-text">Je contribue à la création d'interfaces originales et pertinentes grâce à une
            connaissance approfondie du CSS et du JavaScript.</div>
          }
          @if (language==='En') {
          <div class="sub-title">Interface Design</div>
          }
          @if (language==='En') {
          <div class="sub-text">I help to create original and pertinent
            interfaces through an extensive knowledge of css and javascript.</div>
          }
        </div>
        <div class="basic-text">
          @if (language==='Fr') {
          <div class="sub-title">Animation CSS - WebGL</div>
          }
          @if (language==='Fr') {
          <div class="sub-text">It's a kind of magic !</div>
          }
          @if (language==='En') {
          <div class="sub-title">CSS Animation - WebGL</div>
          }
          @if (language==='En') {
          <div class="sub-text">It's a kind of magic !</div>
          }
        </div>
        <div></div>
      </div>
    </li>
  </div>
</div>