<div #contentHolder id="contentHolder" class="content-holder">
  @if (nContainer===1) {
    <span class="show-content" [ngClass]="{'hide-content':activePanelNumber!==1 && rotating === false}">
      <app-container1 [nContainer]="nContainer"></app-container1>
    </span>
  }
  @if (nContainer===2) {
    <span class="show-content" [ngClass]="{'hide-content':activePanelNumber!==2 && rotating === false}">
      <app-container2 [nContainer]="nContainer"></app-container2>
    </span>
  }
  @if (nContainer===3) {
    <span class="show-content" [ngClass]="{'hide-content':activePanelNumber!==3 && rotating === false}">
      <app-container3 [nContainer]="nContainer"></app-container3>
    </span>
  }
  @if (nContainer===4) {
    <span class="show-content" [ngClass]="{'hide-content':activePanelNumber!==4 && rotating === false}">
      <app-container4></app-container4>
    </span>
  }
  @if (nContainer===5) {
    <span class="show-content" [ngClass]="{'hide-content':activePanelNumber!==5 && rotating === false}">
      <app-container5 [nContainer]="nContainer"></app-container5>
    </span>
  }
  @if (nContainer===6) {
    <span class="show-content" [ngClass]="{'hide-content':activePanelNumber!==0 && rotating === false}">
      <app-container6 [nContainer]="nContainer"></app-container6>
    </span>
  }
</div>

<div #pageWidget class="page-counter"></div>