<!-- <div swipeDirective #contentHolder class="content-holder" (touchstart)="logTouchstart($event)" (touchmove)="logTouchmove($event)" (touchend)="logTouchEnd($event)"> -->
<div #contentHolder class="content-holder">
    <span *ngIf="nContainer===1">
        <app-container1></app-container1>
    </span>
    <span *ngIf="nContainer===2">
        <app-container2></app-container2>
    </span>
    <span *ngIf="nContainer===3">
        <app-container3></app-container3>
    </span>
    <span *ngIf="nContainer===4">
        <app-container4></app-container4>
    </span>
    <span *ngIf="nContainer===5">
        <app-container5></app-container5>
    </span>
    <span *ngIf="nContainer===6">
        <app-container6></app-container6>
    </span>
</div>