<div class="game-holder">

    <div *ngIf="playing===false" class="game">
        <div class="blurb" *ngIf="language==='Fr'">
            J'ai travaillé sur le site Sunnation du journal The Sun qui suivait l'election de 2015 au Royaume-Uni.<br>
            Des jeux, des quizzes et des web-app.<br><br>Je me suis inspiré de cette expérience pour créér un
            application de
            sondage en partenariat avec Iflop et Ipsauce.<br><br>Il utilise des metriques de l'émotion et du
            catharsis pour sonder la popularité des candidats.<br><br>Cliquer pour voir l'outil de sondage.
        </div>
        <div class="blurb" *ngIf="language==='En'">
            I worked on Sunnation, The Suns UK election website in 2015.<br>Games, quizzes and webapps.<br><br>This
            experience inspired
            me to create a polling application in partnership with FiveThirtySeven and Scraatchy & Scraatchy.<br><br>It
            uses metrics of
            emotion and catharsis to measure the popularity of candidats.<br><br>Click to see the polling tool.
        </div>
    </div>

    <div *ngIf="playing===true" class="game">
        <div class="line back-line">
            <app-headshot (switchHeads)="switchHeads(1, false)" [nHead]="1" [headSrc]="activeHeadSrc[0]"
                [headUp]="headUp[0]" [eggInfo]="eggInfo" [left]="'18%'"></app-headshot>
            <app-headshot (switchHeads)="switchHeads(2, false)" [nHead]="2" [headSrc]="activeHeadSrc[1]"
                [headUp]="headUp[1]" [eggInfo]="eggInfo" [right]="'18%'"></app-headshot>
        </div>
        <div class="line middle-line">
            <app-headshot (switchHeads)="switchHeads(3, false)" [nHead]="3" [headSrc]="activeHeadSrc[2]"
                [headUp]="headUp[2]" [eggInfo]="eggInfo" [left]="'10%'"></app-headshot>
            <app-headshot (switchHeads)="switchHeads(4, false)" [nHead]="4" [headSrc]="activeHeadSrc[3]"
                [headUp]="headUp[3]" [eggInfo]="eggInfo" [right]="'10%'"></app-headshot>
        </div>
        <div class="line front-line">
            <app-headshot (switchHeads)="switchHeads(5, false)" [nHead]="5" [headSrc]="activeHeadSrc[4]"
                [headUp]="headUp[4]" [eggInfo]="eggInfo" [left]="'1%'"></app-headshot>
            <app-headshot (switchHeads)="switchHeads(6, false)" [nHead]="6" [headSrc]="activeHeadSrc[5]"
                [headUp]="headUp[5]" [eggInfo]="eggInfo" [right]="'1%'"></app-headshot>
        </div>
        <app-chrono *ngIf="sunGameState==='gameOn'" class="chrono" [chrono]="chrono"></app-chrono>
        <app-results *ngIf="sunGameState==='gameOver'" class="results" [headInfos]="finalHeadInfos"></app-results>
    </div>

    <div class="play">
        <app-play-button (playState)="managePlay($event)" [playing]="playing"></app-play-button>
    </div>

</div>