.game-holder {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.blurb {
  margin-left: 10px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: 100;
  padding: 10px;
  ;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.back-line {
  justify-content: center;
  height: 90px;
}

.front-line {
  justify-content: space-between;
  height: 110px;
}

.play {
  position: absolute;
  bottom: 50px;
  width: 60px;
  right: 20px;
  // z-index: 10;
}

.chrono {
  position: absolute;
  font-size: 16px;
  border: 1px solid white;
  color: white;
  background: rgba($color: #000000, $alpha: 0.5);
  left: 20px;
  bottom: 20px;
  padding: 2px;
  width: 60px;
}

.results {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: lightblue;
}