<div class="container">
    <div contentControl nPanel="1" (changePageNum)="changePageNum($event)" class="flipper">
        <li class="common-side">

            <div *ngIf="introState!=='done' && introState!=='onFinalAnim'" class="finger" [ngClass]="{'finger-anim': onFingerAnim===true}">
                <app-swipe-icon></app-swipe-icon>
            </div>

            <div class="text-holder">
                <div class="intro-anim vertical-space-between-holder"
                    [ngClass]="{'shunt-intro-text': introState==='onFinalAnim' ||introState==='done'}">
                    <div class="byline">Noel O'Sullivan</div>
                    <div class=" intro-title">
                        <span *ngIf="language==='En'">Web<br>Development</span>
                        <span *ngIf="language==='Fr'">Dévéloppement<br>Web</span>
                    </div>
                    <div>
                        <div class="intro-text">
                            <span *ngIf="language==='En'">Creation  &  Code</span>
                            <span *ngIf="language==='Fr'">Création  &  Code</span>
                        </div>
                    </div>
                </div>
            </div>
            <div #videoHolder class="video-holder">
                <video #video1 class="video video1" [ngClass]="{'shunt-intro-video': introState==='onFinalAnim'}" src="assets/videos/intro1.mp4"></video>
                <video #video3 class="video" [ngClass]="{'shunt-intro-video': introState==='onFinalAnim'}"
                    src="assets/videos/intro3.mp4"></video>
                <div *ngIf="introState!=='onFinalAnim' && showSwipe===true" class="swipe-me">Swipe Me</div>
            </div>
            <app-logo></app-logo>
        </li>
        <li class="common-side">
            <app-logo></app-logo>
            <div class="vertical-space-between-holder basic-text" [ngClass]="{'shunt-intro-text': introState==='onFinalAnim'}">
                <div class="intro-text">Twenty years of digital media</div>
                <div class="intro-text">Aeronautic, institutional, entertainment</div>
                <div class="intro-text">Data visualisation, marketing, games </div>
            </div>
            <div *ngIf="introState!=='done'" class="video-holder">
                <video #video2 class="video" src="assets/videos/intro2.mp4" [ngClass]="{'shunt-intro-video': introState==='onFinalAnim'}"></video>
                <div *ngIf="introState!=='onFinalAnim'" class="swipe-me-back">Swipe Me</div>
            </div>
        </li>
        <li class="common-side">
            <app-logo></app-logo>
            <div class="vertical-space-between-holder">
                <p>
                    Web Apps can do lots of good stuff. Streamlining production, promoting products.
                    Have a look at our offers.
                </p>
                <app-direct-access [linkText]="'Apps and Sites'" [hexNum]="1" [nPage]="4"></app-direct-access>
                <p>
                    I offer a range of B2B training packages in high-end front end development.
                    All courses are based on real-life scenarios.
                </p>
                <app-direct-access [linkText]="'Cours'" [hexNum]="1" [nPage]="5"></app-direct-access>
            </div>
        </li>
        <li class="common-side">
            <app-logo></app-logo>
            <h2>APPS AND SITES</h2>
        </li>
        <li class="common-side">
            <h2>COURS</h2>
        </li>
        <li class="common-side">
            <h2>FFFFFFFFFFFFFFFFFFFFFFFFF</h2>
        </li>
        <li class="common-side">
            <h2>Top, Top, Top of the league</h2>
        </li>
        <li class="common-side">
            <h2>You'll never walk alone</h2>
        </li>
    </div>


</div>