.side1 {
    // background: rgb(255, 0, 0, 0.3);
    // background: rgb(192, 192, 192, 0.3);
}

.side2 {
    // background: rgb(192, 192, 192, 0.3);
}

.test1 {
    width: 100%;
    // height: auto;
    overflow: hidden;
}

.testimage {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: top 2s linear;
}

.intro-text {
    position: absolute;
    top: -100%;
    transition: top 2s linear;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}


// .intro2 {
//     position: absolute;
//     transition: top 2s linear;
//     top: -100%;
//     width: 100%;
//     height: 100%;
// }

.shuntIntro2 {
    top: 0;
}

// .intro1 {
//     position: absolute;
//     transition: top 2s linear;
//     top: 0;
//     width: 100%;
//     height: 100%;
// }

.shuntIntro1 {
    top: 100%;
}