.side1 {
    // background: rgb(255, 0, 0, 0.3);
    // background: rgb(192, 192, 192, 0.3);
}

.side2 {
    // background: rgb(192, 192, 192, 0.3);
}

.test1 {
    width: 100%;
    // height: auto;
    overflow: hidden;
}

.video-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    justify-content: center;
    display: flex;
}

.video {
    width: 100%;
    left: 0;
    top: 0px;
    position: absolute;
    transition: top 0.5s linear;
}

.video1 {
    // top: -50px;
}

.shunt-intro-video {
    top: 100%;
}

.text-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    display: flex;
    top: 0;
}

.intro-anim {
    position: absolute;
    top: -100%;
    transition: top 0.5s linear;
    justify-content: center;
    display: flex;
}

.intro-title {
    font-weight: 100;
    font-family: 'SteelfishOutline';
    font-size: 60px;
}

.byline {
    font-size: 1em;
    padding: 5px;
    width: fit-content;
    background: white;
    color: black;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: 100;
}

.intro-text {
    background: white;
    color: black;
    padding: 3px;
    width: fit-content;
    text-align: end;
    margin-top: 10px;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: 100;
    margin-left: auto;
    margin-right: 0;
}

.shunt-intro-text {
    top: 0px;
}

.swipe-me {
    position: absolute;
    bottom: 0px;
    transform: scaleX(-1);
    font-size: 30px;
    color: black;
}

.swipe-me-back {
    position: absolute;
    bottom: 0px;
    font-size: 30px;
    color: black;
}

.basic-text {
    font-size: 20px;
}

.finger {
    position: absolute;
    left: 46%;
    // top: calc(100% + 50px);
    top: 100px;
    z-index: 10;
    display: none;
}

.finger-anim {
    display: block;
    animation-name: fingerAnim;
    animation-iteration-count: 1;
    animation-duration: 4000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fingerAnim {

    0% {
        top: 100px;
    }

    // 2% {
    //     opacity: 0.6;
    //     left: 0;
    //     top: 0;
    // }

    // 3% {
    //     opacity: 0.6;
    // }
    

    // 9% {
    //     opacity: 0.6;
    // }

    // 10% {
    //     opacity: 0;
    //     left: calc(-1493px + 100%);
    //     top: calc(-700px + 100%);
    // }

    100% {
        top: calc(100% + 50px);
    }
}


// .intro2 {
//     position: absolute;
//     transition: top 2s linear;
//     top: -100%;
//     width: 100%;
//     height: 100%;
// }

