@use "../../../../../scss/variables";

.intro-holder {
    position: relative;
    width: 70%;
}

.intro-title {
    font-weight: 100;
    font-family: 'SteelfishOutline';
    font-size: 60px;
}

.byline {
    position: relative;
    font-size: 20px;
    padding: 5px;
    width: fit-content;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    margin-bottom: 10px;
    font-family: "Miriam Libre", sans-serif;
}

.top-line {
    position: absolute;
    top: -10px;
    left: -10px;
    background: white;
    width: 60px;
    height: 2px;
}

.left-line {
    position: absolute;
    top: -10px;
    left: -10px;
    background: white;
    width: 40px;
    height: 2px;
    transform: rotateZ(90deg);
    transform-origin: left;
}

.bottom-line {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background: white;
    width: 60px;
    height: 2px;
}

.right-line {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background: white;
    width: 40px;
    height: 2px;
    transform: rotateZ(90deg);
    transform-origin: right;
}

.intro-text {
    position: relative;
    background: white;
    color: white;
    padding: 3px;
    width: fit-content;
    background: rgba(255, 255, 255, 0.3);
    text-align: end;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Miriam Libre", sans-serif;
    margin-left: auto;
    margin-right: 0;
}

.offer {
    font-size: 20px;
}

@media screen and (max-width: 350px) {
    .offer {
        font-size: 16px;
    }
}

@media screen and (max-height: 660px) {
    .intro-title {
        font-size: 40px;
    }

    .byline {
        font-size: 16px;
    }

    .intro-text {
        font-size: 16px;
    }

    .offer {
        font-size: 16px;
    }

    .basic-text {
        font-size: 14px;
    }

    .sub-title {
        font-size: 18px;
    }
}

@media screen and (max-height: 600px) {
    .intro-title {
        font-size: 30px;
    }

    .byline {
        font-size: 14px;
    }

    .intro-text {
        font-size: 14px;
    }

    .offer {
        font-size: 14px;
    }

    .basic-text {
        font-size: 12px;
    }

    .sub-title {
        font-size: 16px;
    }
}

.swipe-icon {
    position: absolute;
    width: 40px;
    right: 10px;
    bottom: 10px;
    animation: swipeSwipe 2.5s ease;
    animation-iteration-count: infinite;
}

@keyframes swipeSwipe {
    0% {
        right: 10px;
    }
    50% {
        right: 50px;
    }
    100%{
        right: 10px;
    }
}