.airbus-holder {
    position: absolute;
    width: 100%;
    height: 100%;
}

.animation-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.logo-airbus {
    width: 50%;
}

.airnavx-title {
    width: 50%;
}

.init-anim-1 {
    position: absolute;
    width: 1493px;
    height: 700px;
    min-height: 100%;
    opacity: 0;
    top: 0px;
    left: 0px;
}

.image-anim-1 {
    animation-name: anim-1;
    animation-iteration-count: 1;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes anim-1 {

    0% {
        opacity: 0;
        left: 0;
        top: 0;
    }

    2% {
        opacity: 0.6;
        left: 0;
        top: 0;
    }

    3% {
        opacity: 0.6;
    }
    

    9% {
        opacity: 0.6;
    }

    10% {
        opacity: 0;
        left: calc(-1493px + 100%);
        top: calc(-700px + 100%);
    }

    100% {
        opacity: 0;
        left: calc(-1493px + 100%);
        top: calc(-700px + 100%);
    }
}

.init-anim-2 {
    position: absolute;
    width: 1493px;
    height: 700px;
    opacity: 0;
    right: 0;
    bottom: 0;
}

.image-anim-2 {
    animation-name: anim-2;
    animation-iteration-count: 1;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes anim-2 {
    0% {
        opacity: 0;
        right: 0;
        bottom: 0;
    }

    9% {
        opacity: 0;
        right: 0;
        bottom: 0;
    }

    10% {
        opacity: 0.6;
    }

    19% {
        opacity: 0.6;
    }

    20% {
        opacity: 0;
        right: calc(-1493px + 100%);
        bottom: calc(-700px + 100%);
    }

    100% {
        opacity: 0;
        right: calc(-1493px + 100%);
        bottom: calc(-700px + 100%);
    }

}

.init-anim-3 {
    position: absolute;
    width: 1498px;
    height: 700px;
    opacity: 0;
    left: 0px;
    bottom: 0px;
}

.image-anim-3 {
    animation-name: anim-3;
    animation-iteration-count: 1;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes anim-3 {
    0% {
        opacity: 0;
        left: 0;
        bottom: 0;
    }

    19% {
        opacity: 0;
        left: 0;
        bottom: 0;
    }

    20% {
        opacity: 0.6;
    }

    29% {
        opacity: 0.6;
    }

    30% {
        opacity: 0;
        left: calc(-1498px + 100%);
        bottom: calc(-700px + 100%);
    }

    100% {
        opacity: 0;
        left: calc(-1498px + 100%);
        bottom: calc(-700px + 100%);
    }
}

.init-anim-4 {
    position: absolute;
    width: 1257px;
    height: 700px;
    opacity: 0;
    left: 0px;
    bottom: 0px;
}

.image-anim-4 {
    animation-name: anim-4;
    animation-iteration-count: 1;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes anim-4 {
    0% {
        opacity: 0;
        left: 0;
        bottom: 0;
    }

    29% {
        opacity: 0;
        left: 0;
        bottom: 0;
    }

    30% {
        opacity: 0.6;
    }

    39% {
        opacity: 0.6;
    }

    40% {
        opacity: 0;
        left: calc(-1257px + 100%);
        bottom: calc(-700px + 100%);
    }

    100% {
        opacity: 0;
        left: calc(-1257px + 100%);
        bottom: calc(-700px + 100%);
    }
}