$primary-text-color: #1C0772;
// $primary-background-color: #FFA500;
$primary-background-color: #ff9b00;

$primary-hover-color: #009E8E;
$primary-first-letter-color: #d72b31;

$timeline-break-small: 600px;
$timeline-break-medium: 1000px;