@import "../../../../../../scss/variables";

.airbus-holder {
    position: absolute;
    width: 100%;
    height: 100%;
}

.animation-holder {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.intro {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}

.logo-airbus {
    width: 100%;
}

.airnavx-logo {
    position: absolute;
    left: 0;
    width: 30%;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
    padding-left: 10%;
    padding-right: 35%;
    top: 25%;
}



.airnaveo-logo {
    position: absolute;
    top: 190px;
    right: 0;
    width: 40%;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
    top: 38%;
    padding-right: 10%;
    padding-left: 25%;
}

@media screen and (max-height: 650px) {
    .airnavx-logo {
        top: 90px;
    }

    .airnaveo-logo {
        top: 95px;
    }
}

.play {
    position: absolute;
    width: 60px;
    bottom: 83px;
    right: 20px;
    z-index: 10;
}

.blurb {
    position: absolute;
    width: 80%;
    padding-left: 10px;
    padding-right: 6%;
    color: black;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.4);
    font-weight: 300;
    bottom: 10%;
    box-sizing: border-box;
    text-align: justify;
    left: 0;
}

.blurb2 {
    bottom: 5px;
    display: flex;
    flex-direction: row;
}

.init-anim-1 {
    position: absolute;
    // margin-left: -50%;
    height: 100%;
    // transition: opacity 2s linear;
}

.init-anim-2 {
    position: absolute;
    height: 100%;
    opacity: 0;
}

.bullet-points {
    position: absolute;
}

.point1 {
    top: 20%;
    left: 20%;
}

.bullet-points {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    color: white;
    transition: opacity 2s linear;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    bottom: 0;
    border-left: 10px solid $primary-hover-color;
    justify-content: left;
    text-align: left;
    padding-left: 5px;
    padding-right: 50px;
    box-sizing: border-box;
}