<!-- <div class="airnavX-title"> -->
<div class="animation-holder">
    <!-- <div class="image init-anim-1"></div> -->
    <img class="image init-anim-1" [ngClass]="{'image-anim-1':anim===true}" src="assets/images/airbus/airnavX-2.jpg">
    <img class="image init-anim-2" [ngClass]="{'image-anim-2':anim===true}" src="assets/images/airbus/airnavX-3.jpg">
    <img class="image init-anim-3" [ngClass]="{'image-anim-3':anim===true}" src="assets/images/airbus/airnaveo-search.jpg">
    <img class="image init-anim-4" [ngClass]="{'image-anim-4':anim===true}" src="assets/images/airbus/airnaveo-video.jpg">
    <!-- <img class="image init-anim-5" [ngClass]="{'image-anim-5':anim===true}" src="../../../../../../assets/images/airbus/engine3D-1.jpg">
    <img class="image init-anim-6" [ngClass]="{'image-anim-6':anim===true}" src="../../../../../../assets/images/airbus/engine3D-2.jpg">
    <img class="image init-anim-7" [ngClass]="{'image-anim-7':anim===true}" src="../../../../../../assets/images/airbus/engine3D-seq1.jpg"> -->
</div>

<!-- <div class="airbus-holder">
    <img class="logo-airbus" src="../../../../../../assets/images/logos/logo-airbus.jpg">
    <img class="airnavx-title" src="../../../../../../assets/images/airbus/airnavX-1.jpg">
</div> -->
<!-- </div> -->