<div class="container">
  <div #flipper contentControl nPanel="4" (changeActivePanel)="changePanel($event)" [allowPanelSwipe]="true" class="flipper">
    <li class="common-side">
      <div class="vertical-space-between-holder">
        <div></div>
        <div class="basic-text">
          <div class="sub-title">The Purps</div>
          @if (language==='Fr') {
          <div class="sub-text">Disponible pour des concerts dans le sud-ouest de la France</div>
          }
          @if (language==='En') {
          <div class="sub-text">Available for concerts in South-West France !</div>
          }
        </div>
        <div class="video-holder">
          @if (showVideo) {
          <video class="video" controls>
            <source src="assets/videos/Mix-Chasing Cars-FC-M.mp4" type="video/mp4">
          </video>
          }
        </div>
        <div></div>
      </div>
    </li>
  </div>
</div>