.side1 {
    // background: green;
}

.side2 {
    // background: silver;
}

.video-holder {
    width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    pointer-events: all;
    box-shadow: 0 0 40px 5px rgba(255, 255, 255, 0.7);
}

.video {
    width: 100%;
}