<div class="container">
    <div #flipper contentControl nPanel="2" (changeActivePanel)="changePanel($event)" (changePageNum)="changePageNum($event)" class="flipper">
        <li class="common-side">
            <app-circular-carousel [language]="language" (carouselItemClicked)="goPage($event)" [data]="'panel2.json'" [orientation]="'vertical'" [perspective]="'750px'" [itemHeightInput]="'55%'"></app-circular-carousel>
        </li>
        <li class="common-side">
            <app-airbus [activePageNum]="activePageNum" class="app-fill-container"></app-airbus>
        </li>
        <li class="common-side">
            <h1>3</h1>
        </li>
        <li class="common-side">
            <h1>4</h1>
        </li>
        <li class="common-side">
            <h1>5</h1>
        </li>
        <li class="common-side">
            <h1>6</h1>
        </li>
        <li class="common-side">
            <h1>7</h1>
        </li>
        <li class="common-side">
            <h1>8</h1>
        </li>
    </div>
</div>