<div class="container">
    <div #flipper contentControl nPanel="2" (changeActivePanel)="changePanel($event)" (changePageNum)="changePageNum($event)" class="flipper">
        <li class="common-side">
            <span class="title">Projects from the last ten years</span>
            <div class="logo-holder">
                <div class="logo-holder-column">
                    <div class="logo">
                        <img class="image" src="assets/images/logos/logo-dgac.png">
                        <app-link-icon></app-link-icon>
                    </div>
                    <div (click)="goPage(2)" class="logo">
                        <img class="image" src="assets/images/logos/logo-airbus.jpg">
                        <app-link-icon></app-link-icon>
                    </div>
                    <div class="logo">
                        <img class="image" src="assets/images/logos/logo-moneypenny.jpg">
                        <app-link-icon></app-link-icon>
                    </div>
                    <div class="logo">
                        <img class="image" src="assets/images/logos/logo-milan.jpg">
                        <app-link-icon></app-link-icon>
                    </div>
                </div>
                <div class="logo-holder-column">
                    <div class="logo">
                        <img class="image" src="assets/images/logos/logo-ednat.jpg">
                        <app-link-icon></app-link-icon>
                    </div>
                    <div class="logo">
                        <img class="image" src="assets/images/logos/logo-gamesys.jpg">
                        <app-link-icon></app-link-icon>
                    </div>
                    <div class="logo">
                        <img class="image" src="assets/images/logos/logo-thesun.jpg">
                        <app-link-icon></app-link-icon>
                    </div>
                </div>
            </div>
        </li>
        <li class="common-side">
            <app-airbus [pageNum]="pageNum" class="app-fill-container"></app-airbus>
        </li>
        <li class="common-side">
            <h1>3</h1>
        </li>
        <li class="common-side">
            <h1>4</h1>
        </li>
        <li class="common-side">
            <h1>5</h1>
        </li>
    </div>
</div>