<div class="container">
    <div contentControl nPanel="2" [allowPanelSwipe]="false" (changeActivePanel)="changePanel($event)"
        (changePageNum)="changePageNum($event)" class="flipper">
        <li class="common-side">
            <app-logo></app-logo>
            <app-circular-carousel [myContainerIsActive]="iAmActive" [scrollType]="'manual'" [itemType]="'imageText'"
                [language]="language" (carouselItemClicked)="goPage($event)" [data]="'panel2.json'" [recentreCarousel]="recentreCarousel"
                [orientation]="'vertical'" [perspective]="'2000px'"></app-circular-carousel>
        </li>
        <li class="common-side">
            <div class="common-side" [ngClass]="{'hide-page': nSubPage!==1}">
                <app-logo></app-logo>
                <app-airbus [myPageNum]="1" [myContainerIsActive]="iAmActive" [activePageNum]="activePageNum"
                    [language]="language" [robotAirbusAnim]="robotAirbusAnim" class="app-fill-container"></app-airbus>
            </div>
            <div class="common-side" [ngClass]="{'hide-page': nSubPage!==2}">
                <app-logo></app-logo>
                <app-thesun class="the-sun" [language]="language" [myPageNum]="2" [myContainerIsActive]="iAmActive"
                    [activePageNum]="activePageNum"></app-thesun>
            </div>
            <div class="common-side" [ngClass]="{'hide-page': nSubPage!==3}">
                <app-logo></app-logo>
                <app-circular-carousel [myContainerIsActive]="iAmActive" [scrollType]="'manual'" [hasCaption]="true"
                    [itemType]="'image'" [language]="language" [data]="'milan.json'" [recentreCarousel]="recentreCarousel" [orientation]="'vertical'"
                    [perspective]="'1000px'"></app-circular-carousel>
            </div>
            <app-next-page-button class="next-page-button" [isLastPage]="true" [language]="language"
                [blockAll]="blockAll" [leftTextFrEn]="'PROJETS#PROJECTS'"></app-next-page-button>
        </li>
    </div>
</div>