.content-layout {
    position: absolute;
    overflow: hidden;
}

.menu-layout {
    position: absolute;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 54px;
    overflow: hidden;
}