<div #fullscreen class="fullscreen-layout">
    <img #backgroundImage src="assets/images/background.jpg" class="bcg"/>
    <div #contentLayout class="content-layout" [ngClass]="{'no-borders':!viewHeightOK}">
        <!-- <span *ngIf="orientation === 'PORTRAIT'"> -->
        <span [ngClass]="{'hideForLandscape':!viewHeightOK}">
            <app-content [nContainer]=1 [startRotation]=0></app-content>
            <app-content [nContainer]=2 [startRotation]=60></app-content>
            <app-content [nContainer]=3 [startRotation]=120></app-content>
            <app-content [nContainer]=4 [startRotation]=180></app-content>
            <app-content [nContainer]=5 [startRotation]=240></app-content>
            <app-content [nContainer]=6 [startRotation]=300></app-content>
        </span>
    </div>

    <div #menuLayout class="menu-layout" [ngClass]="{'no-borders':!viewHeightOK}">
        <!-- <span *ngIf="orientation === 'PORTRAIT'"> -->
        <span [ngClass]="{'hideForLandscape':!viewHeightOK}">
            <footer class="menu-footer">
                <div class="tel">+33 (0)6 78 93 29 75</div>
                <div class="mail">noel&#64;hex-box.com</div>
            </footer>
            
            <app-menu></app-menu>
        </span>
    </div>
    <!-- <div class="orientation-message" *ngIf="orientation === 'LANDSCAPE'"> -->
    <div class="orientation-message" [ngClass]="{'hideForPortrait':viewHeightOK}">
        <img src="assets/images/rotation-icon.png" class="rotation-device"/>
    </div>

</div>