.fullscreen-layout{
    height: 100svh;
    min-height: 550px;
    width:100svw;
    background-size:cover;
    background-image:url('../../assets/images/background.jpg');
    background-position:50% 50%;
  }

.content-layout {
    position: absolute;
    overflow: hidden;
}

.menu-layout {
    position: absolute;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 54px;
    max-height: 180px;
    overflow: hidden;
}
  