.fullscreen-layout {
    position: absolute;
    height: 100svh;
    width: 100svw;
    // background-size: cover;
    // background-image: url('./background.jpg');
    // background-position: 50% 50%;
    overflow: hidden;
}

.bcg {
    height: 100%;
    width: 100%;
}

.content-layout {
    pointer-events: none;
    position: absolute;
    // overflow: hidden;
    border-bottom: 5px solid rgba($color:black, $alpha: 1);
    box-sizing: border-box;
}

.menu-layout {
    position: absolute;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100svw;
    padding-bottom: 54px;
    overflow: hidden;
    background-color: rgba($color: #000000, $alpha: 0.3)
}

.hideForLandscape {
    display: none;
}

.orientation-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 24px;
    font-family: "Miriam Libre", sans-serif;
}

.hideForPortrait {
    display: none;
}

.menu-footer {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20px;
    font-family: "Miriam Libre", sans-serif;
    font-weight: 400;
    color: white;
    bottom: 5px;
    font-size: 1em;
}