<div #ArrowBackLeft class="arrow-back-left">
    <img src="../../../../assets/images/arrow-back.png" class="arrow-image" />
</div>
<div #ArrowFrontLeft (click)="clickLeftArrow()" class="arrow-front-left">
    <img src="../../../../assets/images/arrow-front.png" class="arrow-image" />
</div>
<div #ArrowBackRight class="arrow-back-right">
    <img src="../../../../assets/images/arrow-back.png" class="arrow-image" />
</div>
<div #ArrowFrontRight (click)="clickRightArrow()" class="arrow-front-right">
    <img src="../../../../assets/images/arrow-front.png" class="arrow-image" />
</div>
