<div class="circular-text-holder" [ngClass]="{'anti-clockwise': true}">
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path class="path" id="circlePath" d="
      M 10, 50
      a 40,40 0 1,1 80,0
      40,40 0 1,1 -80,0
    " />
        <text>
            <textPath href="#circlePath" textLength="Math.floor(Math.PI * 80)">
                {{text}}
            </textPath>
        </text>
    </svg>
</div>

<!-- M 10, 50
      a 40,40 0 1,1 80,0
      40,40 0 1,1 -80,0 -->


      <!-- d="
    M (CENTER_X - RADIUS),CENTER_Y
    a RADIUS,RADIUS 0 1,1 (2 * RADIUS),0
    RADIUS,RADIUS 0 1,1 (-2 * RADIUS),0
  " -->