@import "../../../scss/variables";

.container {
    width: 100%;
    height: 100%;
    // font-size: 64px;
    background: transparent;
    perspective: 2500px;
    pointer-events: none;
}

.flipper {
    max-width: 500px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    background: rgb(192, 192, 192, 0.3);
    margin: auto;
    position: relative;
    // pointer-events: all;
    // overflow: hidden;
    // transition: transform 1s; 
}

li:nth-child(even) {
    transform: rotateY(180deg);
  }

.common-side {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    font-size: 20px;
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 300;
    text-align: center;
    color: white;
    border: solid 1px grey;
    justify-content: space-between;
    // padding-bottom: 10px;
    box-sizing: border-box;
}

.vertical-space-between-holder {
    position: relative;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // justify-content: space-around;
    // padding-top: 40px;
    box-sizing: border-box;
    // overflow-y: scroll;
}

.para {
    font-weight: 100;
}

.seventy {
    width: 70%;
}

header {
    display: flex;
}

.next-page-button {
    width: 100%;
}

.title {
    
    
}

.word-holder {
    position: absolute;
    top: -54px;
    left: 0px;
    font-size: 34px;
    font-weight: 900;
    width: 50%;
    height: 42px;
    font-family: PassionOneBlack;
}

.word-bottom {
    position:absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: white;
    background: black;
    top: 2px;
}

.word-top {
    position:absolute;
    height:50%;
    width: 100%;
    overflow: hidden;
    color: black;
    background: white;
}

.word-text {
    position: absolute;
    top: 2px;
    left: 2px;
}


.basic-text {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

.sub-title {
    padding-left: 15px;
    font-size: 20px;
    background: black;
    // color: $primary-first-letter-color;
    color: $primary-background-color;
    font-weight: 600;
    text-align: left;
}

.sub-text {
    text-align: justify;
    padding-left: 50px;
    padding-right: 5px;
}

@media screen and (max-height: 660px) {
    .sub-title {
        font-size: 18px;
    }
    .basic-text {
        font-size: 14px;
    }
}

@media screen and (max-height: 600px) {
    .sub-title {
        font-size: 16px;
    }
    .basic-text {
        font-size: 12px;
    }
}