.lang-button {
  position: absolute;
  color: white;
  width: 40px;
  left: 10px;
  bottom: 10px;
  margin-top: 10px;
  backface-visibility: hidden;
  transition: transform 0.5s;
  z-index: 20;
  cursor: pointer;
}

.flipMe {
  transform: rotateY(180deg);
}

.image {
  width: 100%
}