/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    // width: 100svh;
    // height: 100svw
}

h1, h2, h3, p {
    margin: 0;
    font-weight: 100;
}

@font-face {
    font-family: 'SteelfishOutline';
    src: url('assets/fonts/steelfish outline.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}