<!-- <div class="mouse-up-outside-detector"></div> -->
<nav #carouselRoot class="carousel-root">
  <div class="carousel-event-capture"></div>
  <div #carousel class="carousel" [ngClass]="{'auto-animate':scrollType==='auto'}">
    <!-- <span *ngIf="itemType==='imageText'"> -->
    @for (item of items; track item; let i = $index) {
      <li class="carousel-item" id="item{{i}}"
        (click)="itemClicked($event,item)">
        @if (itemType==='imageText') {
          <div class="item-holder">
            <div class="logo-holder">
              <img class="svg-icon" src="{{item.imageSrc}}" />
            </div>
            <div class="text-holder">
              <div class="intro">
                @if (language==='En') {
                  <span>{{item.introEn}}</span>
                }
                @if (language==='Fr') {
                  <span>{{item.introFr}}</span>
                }
              </div>
              <div class="text">
                @if (language==='En') {
                  <span>{{item.textEn}}</span>
                }
                @if (language==='Fr') {
                  <span>{{item.textFr}}</span>
                }
              </div>
            </div>
          </div>
        }
        @if (itemType==='image') {
          <div class="item-holder">
            <div class="image-holder">
              <img class="image" src="{{item.imageSrc}}" />
            </div>
          </div>
        }
        @if (item.page) {
          <div class="click-indicator">
            <div class="icon-holder">
              <app-swipe-icon [direction]="'right'"></app-swipe-icon>
            </div>
          </div>
        }
        <!-- <app-swipe-icon class="click-indicator"></app-swipe-icon> -->
        <div #shadow class="shadow"></div>
      </li>
    }
  </div>
  @if (itemType==='image') {
    <div>
      <div class="caption-title">{{captionTitle}}</div>
      <div class="caption-text">{{captionText}}</div>
    </div>
  }
</nav>